# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/
*.env
*.env.*
!.env.example

# Node / Vue
node_modules/
dist/
dist-ssr/
*.local

# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log

# IDE & OS
.idea/
.vscode/
*.swp
*.swo
Thumbs.db
.DS_Store

*.db
